* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
}

:root{
    --color-:rgb(53, 0, 0);
}

h1 {
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
     text-align: center;
} 

.textoprueba {
    background-color: red;
    padding: 30px 30px;
    text-align: center;
}

.text_div {
    font-family: 'Anek Latin', sans-serif;
    font-size: 3rem;
    margin: 35px 0 33px 0;
    text-align: center;
}
/* comienza css de formulario x2 */

.formulario {
    border: 2px solid black;
    margin-top: 8rem;
    border-radius: 3rem;
    text-align: center;
}

/* 
comienza headerstyle */

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo_rueca {
    width: 10rem;
    margin: 0 2rem;
}


/* comienza formulario css */
.contact_form{  
    width: 30rem; 
    height: auto;
    margin: 0 0 0 4rem;
    border-radius: 10px;
    font-size: 20px;  
    
    padding-bottom: 20px;  
    text-align: center;
  }
  
  input{
    background-color: #fbfbfb; 
    text-align: center;
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #C29E5B; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    font-size: 1.5rem;
  }
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    text-align: center;
  }
  
  label{
    display: block; 
    float: center;  
    text-align: center;
  }
  
  button{
    color: #fff;
    height: 45px; 
    padding: 0 5px;   
    margin: 4rem 1rem 2.5rem ;  
    text-transform: uppercase;
    background-color: #1F3B68; 
    border: none;
    border-style: solid; 
    border-radius: 10px;  
    width: 10rem;  
    cursor: pointer;
    text-align: center;
  }

  button:hover {
    background-color: #fff;
    color: #C29E5B;
    text-align: center;
  }
  
  button p{
    color: #fff; 
  }
  
  span{
    color: #ab4493; 
  }
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

  .terminos p {
      width: 50%;
    font-size: 16px;
    line-height: 30px;
    text-align: left; 
   
  }

  checkbox:checked {
    background-color: #ab4493 !important;
    color: #ab4493;
  }





/* animista */
#slide-in-top {
    -webkit-animation: slide-in-top .9s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-top .9s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}






@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.rueda_logo{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

